nav.navigation 
	.navigation__wrapper 
		ul.navigation__list
			li.navigation__list__item 
				.navigation__list__link--logo
					a(href='#')
						img(data-src="./images/av-350px-white.png" alt="Chris Averyano" title="Chris Averyano")
			li.navigation__list__item 
				a.navigation__list__link(href='#projects')='Projects'
			li.navigation__list__item 
				a.navigation__list__link(href='#contact')='Contact'
.scroll__nav
	.scroll__nav__bar 
	.scroll__nav__bg