.footer {
  position: relative;
}

.footer__wrapper {
  display: flex;
  align-items: flex-end;
}

.footer__left {
  @extend %description-12;

  flex-grow: 1;

  padding-bottom: 2.4rem;
  padding-left: 6.4rem;

  @include media('<phone') {
    padding-left: 1.25rem;
    padding-bottom: 4.7rem;
    font-size: 110%;
  }
}

.footer__right {
}

.footer__right__wrapper {
  display: flex;
}

.footer__right__links {
  @extend %description-24;
  position: relative;
}

.footer__right__links__menu {
  @extend %center;

  height: 100%;
  padding: 4.7rem 5.8rem;

  @include media('<phone') {
    padding: 4.7rem 3.8rem;
  }
}

.footer__right__links__terms {
}

.footer__right__socials {
  @extend %description-16;
  position: relative;
}

.footer__right__hr {
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(255, 255, 255, 1.15),
    rgba(255, 255, 255, 0.85),
    rgba(255, 255, 255, 1.15),
    transparent
  );

  width: 2px;
  margin: 10px 2px;
  position: absolute;
  height: 100%;
}

.footer__right__socials__menu {
  @extend %center;

  height: 100%;
  padding: 2.4rem 5rem;

  @include media('<phone') {
    padding: 4.7rem 3.8rem;
  }
}

.footer__right__socials__cookie {
}

.footer__list {
}

.footer__list__item {
  margin-top: 2.8rem;

  &:first-of-type {
    margin-top: 0rem;
  }

  @include media('<phone') {
    & {
      font-size: 55%;
    }
  }
}

.footer__list__item--socials .footer__list__link img {
  padding-right: 0.8rem;
  margin-bottom: -0.25rem;
}

@include media('<phone') {
  .footer__list__item--socials .footer__list__link img {
    max-width: 16px;
  }
}

.footer__list__item--socials .footer__list__link {
  @extend %description-12;

  display: flex;
  justify-content: flex-start;
}
.footer__list__item--socials {
  margin-top: 3.8rem;

  &:first-of-type {
    margin-top: 0rem;
  }
}

.footer__list__link:hover {
  opacity: 0.75;
}
