.development__version {
  @extend %description-12;

  position: fixed;
  left: 1.5%;
  bottom: 1%;
  color: rgb(var(--data-color-primary));

  z-index: 5;
  opacity: 0.75;
}

.navigation {
  @extend %cover;

  color: #fff;
  z-index: z('navigation');
  position: fixed;
  pointer-events: none;
}

.navigation__wrapper {
  // transform: translate(0, -100%);
}
.navigation__link {
  height: 2.4rem;
  font-size: 0;
  position: absolute;
  left: 4rem;
  top: 4rem;
  width: 12.8rem;
  pointer-events: auto;
  height: 2rem;
  transition: opacity 0.4s ease;

  &:hover {
    opacity: 0.5;
  }

  @include media('<phone') {
    left: 5rem;
    top: 5rem;
    width: 27.9rem;
    height: 4.3rem;
  }
}
.navigation__link__icon {
  display: block;
}
.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
  height: 3rem;
  align-content: center;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
  border-radius: 0 0 0 10px;
  background-color: rgba(3, 3, 3, 0.5);
  backdrop-filter: blur(40px);

  overflow: hidden;

  @include media('<tablet') {
    font-size: 150%;
  }

  @include media('<phone') {
    display: none;
  }
}
.navigation__list__item {
  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: auto;
  height: fit-content;
  width: 200%;
  &--logo {
    height: inherit;
  }
  &.active {
    @extend %title-24;
    font-weight: 900;

    // color: #f7797d;
  }
  &.active > .navigation__list__link {
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #c471ed,
      0 0 82px #f7797d, 0 0 92px #c471ed;
  }
}

.navigation__list__link {
  @extend %link--hidden;
  @extend %description-12;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  line-height: 1;
  height: 3.85rem;
  opacity: 1;
  pointer-events: auto;

  overflow: visible;

  @include media('<phone') {
    height: 6rem;
    padding: 1rem 0rem;
    margin: 0 1.5rem;
  }
}
.nav__js--active {
  opacity: 0.5;
  pointer-events: none;
}

.navigation__list__link--logo {
  display: flex;

  line-height: 1;
  height: inherit;
  align-items: center;

  padding: 0 2rem;

  @include media('>tablet') {
    position: absolute;
    left: 0;
    padding: 0 3rem;
  }
  & a {
    height: inherit;
  }
  & img {
    height: inherit;
  }

  & img:hover {
    opacity: 0.85;
  }
}

.scroll__nav {
  position: absolute;
  right: 0;
  top: 0;
  width: 0.3rem;
  height: 100vh;
  border-radius: 1rem;
  background: rgb(var(--data-color-primary));
  z-index: z('scrollbar');

  visibility: visible;
  opacity: 1;

  @include media('<tablet') {
    visibility: hidden;
    opacity: 0;
  }
}
.scroll__nav__bar {
  position: relative;
  top: 0;
  right: 0;
  width: 0.3rem;
  height: 100%;
  border-radius: 1rem;
  background: rgb(var(--data-color-secondary));

  z-index: z('scrollbar');
}
.scroll__nav__bg {
}
