figure.hero__gallery__media 
	img.hero__gallery__media__image(data-src="./images/hero/prelabComparison.jpg")
figure.hero__gallery__media 
	img.hero__gallery__media__image.hero__gallery__media__image--contain(data-src="./images/hero/converse_promo.jpg")
figure.hero__gallery__media 
	img.hero__gallery__media__image.hero__gallery__media__image--contain(data-src="./images/hero/wendel_beauty.jpg")
figure.hero__gallery__media 
	img.hero__gallery__media__image(data-src="./images/hero/vld-contact.jpg")
figure.hero__gallery__media 
	img.hero__gallery__media__image(data-src="./images/hero/prelabComparison.jpg" style="object-position: top;")
figure.hero__gallery__media 
	img.hero__gallery__media__image(data-src="./images/hero/OniMask.jpg")
figure.hero__gallery__media 
	img.hero__gallery__media__image(data-src="./images/hero/wendel_moretti_together.jpg")
figure.hero__gallery__media 
	img.hero__gallery__media__image(data-src="./images/hero/abstract1.jpg")
figure.hero__gallery__media 
	img.hero__gallery__media__image(data-src="./images/hero/GardenOfLight.jpg" style="object-position: top;")
figure.hero__gallery__media 
	img.hero__gallery__media__image(data-src="./images/hero/phukr.jpg")
figure.hero__gallery__media(style="display: flex; justify-content: center;align-items: center;")
	img.hero__gallery__media__image(data-src="./images/av-350px-white.png" style="max-width: 96px; max-height: 96px;" id="hero__avlogo")
figure.hero__gallery__media
	img.hero__gallery__media__image(data-src="./images/hero/GardenOfLight.jpg")
figure.hero__gallery__media 
	img.hero__gallery__media__image(data-src="./images/hero/drzDesktop1.jpg" style="    object-position: left;")
figure.hero__gallery__media 
	img.hero__gallery__media__image(data-src="./images/hero/converse_promo.jpg")
figure.hero__gallery__media 
	img.hero__gallery__media__image(data-src="./images/hero/abstract1.jpg" style="object-position: left;")
figure.hero__gallery__media 
	img.hero__gallery__media__image(data-src="./images/hero/drzDesktop1.jpg" style="object-position: right;")
figure.hero__gallery__media 
	img.hero__gallery__media__image(data-src="./images/hero/abstract2.jpg")
figure.hero__gallery__media 
	img.hero__gallery__media__image(data-src="./images/hero/drzDesktop2.jpg")
figure.hero__gallery__media 
	img.hero__gallery__media__image(data-src="./images/hero/abstract1.jpg")
figure.hero__gallery__media 
	img.hero__gallery__media__image(data-src="./images/prj1preview.jpg")
figure.hero__gallery__media 
	img.hero__gallery__media__image(data-src="./images/hero/abstract2.jpg")
figure.hero__gallery__media 
	img.hero__gallery__media__image(data-src="./images/hero/drzDesktop2.jpg")
figure.hero__gallery__media 
	img.hero__gallery__media__image(data-src="./images/hero/prelabComparison.jpg")
figure.hero__gallery__media 
	img.hero__gallery__media__image(data-src="./images/hero/drzDesktop3.jpg")
figure.hero__gallery__media 
	img.hero__gallery__media__image(data-src="./images/hero/OniMask.jpg" style="object-position: right")
figure.hero__gallery__media 
	img.hero__gallery__media__image.hero__gallery__media__image--contain(data-src="./images/hero/wendel_slideshow.jpg")
figure.hero__gallery__media 
	img.hero__gallery__media__image(data-src="./images/hero/cpose.jpg")
figure.hero__gallery__media 
	img.hero__gallery__media__image(data-src="./images/hero/drzDesktop3.jpg")