
.hero__grid__wrapper 
	.hero__rectangular--m--90.hero__goldenrod
		img.hero__grid__img(data-src="./images/hero/prelabComparison.jpg")
	.hero__square--s.hero__lochmara
		img.hero__grid__img(data-src="./images/hero/converse_promo.jpg")
	.hero__rectangular--s.hero__biloba-flower
		img.hero__grid__img(data-src="./images/hero/wendel_beauty.jpg")
	.hero__rectangular--s--90.hero__tonys-pink
		img.hero__grid__img(data-src="./images/hero/vld-contact.jpg")
	.hero__square--xxl.hero__monte-carlo
		img.hero__grid__img(data-src="./images/hero/prelabComparison.jpg")
	.hero__rectangular--s.hero__tonys-pink
		img.hero__grid__img(data-src="./images/hero/OniMask.jpg")
	.hero__square--s.hero__goldenrod
		img.hero__grid__img(data-src="./images/hero/wendel_moretti_together.jpg")
	.hero__rectangular--m.hero__monte-carlo
		img.hero__grid__img(data-src="./images/hero/abstract1.jpg")
	.hero__rectangular--m--90.hero__lochmara
		img.hero__grid__img(data-src="./images/hero/GardenOfLight.jpg" style="object-position: top") 
	.hero__rectangular--s--90.hero__goldenrod
		img.hero__grid__img(data-src="./images/hero/phukr.jpg") 
	.hero__square--m.hero__biloba-flower
		img.hero__grid__img(data-src="./images/hero/converse_promo.jpg") 
	.hero__rectangular--s--90.hero__tonys-pink(style="grid-column: span 4;")
		img.hero__grid__img(data-src="./images/hero/GardenOfLight.jpg") 
	.hero__square--m.hero__biloba-flower
		img.hero__grid__img(data-src="./images/hero/drzDesktop1.jpg") 
	.hero__rectangular--l--90.hero__tonys-pink(style="grid-row: span 5;")
		img.hero__grid__img(data-src="./images/hero/converse_promo.jpg" style="object-position: right") 
	.hero__rectangular--s.hero__lochmara(style="grid-column: span 4")
		img.hero__grid__img(data-src="./images/hero/abstract1.jpg" style="object-position: left") 
	.hero__square--s.hero__monte-carlo
		img.hero__grid__img(data-src="./images/hero/drzDesktop1.jpg" style="object-position: right") 
	.hero__square--s.hero__biloba-flower
		img.hero__grid__img(data-src="./images/hero/abstract2.jpg")
	.hero__rectangular--l.hero__lochmara(style="grid-column: span 5;")
		img.hero__grid__img(data-src="./images/hero/drzDesktop2.jpg")
	.hero__square--m.hero__biloba-flower
		img.hero__grid__img(data-src="./images/hero/abstract1.jpg")
	.hero__square--m.hero__tonys-pink
		img.hero__grid__img(data-src="./images/prj1preview.jpg")
	.hero__square--m.hero__goldenrod(style="background: url('./images/hero/abstract2.jpg')")
		img.hero__grid__img(data-src="./images/hero/abstract2.jpg")
	.hero__square--s.hero__tonys-pink(style="background: url('./images/hero/drzDesktop2.jpg')") 
		img.hero__grid__img(data-src="./images/hero/drzDesktop2.jpg")
	.hero__rectangular--s--90.hero__lochmara(style="grid-row: span 4;")
		img.hero__grid__img(data-src="./images/hero/prelabComparison.jpg")
	.hero__rectangular--s.hero__tonys-pink(style="grid-column: span 5;")
		img.hero__grid__img(data-src="./images/hero/drzDesktop3.jpg")
	.hero__square--s.hero__goldenrod(style="grid-column: span 4;")
		img.hero__grid__img(data-src="./images/hero/OniMask.jpg")
	.hero__square--s.hero__biloba-flower(style="grid-column: span 4;")
		img.hero__grid__img(data-src="./images/hero/wendel_slideshow.jpg")
	.hero__square--s.hero__monte-carlo(style="grid-row: span 2; grid-column: span 4;')")
		img.hero__grid__img(data-src="./images/hero/cpose.jpg")
	.hero__square--s.hero__lochmara(style="grid-row: span 2; grid-column: span 3;")
		img.hero__grid__img(data-src="./images/hero/drzDesktop3.jpg")
		//- .hero__rectangular--m.hero__monte-carlo
		//- .hero__rectangular--l.hero__tonys-pink
		//- .hero__rectangular--xl.hero__goldenrod