%description-10 {
  font-size: 1rem;
}
%description-12 {
  font-size: 1.2rem;
}
%description-14 {
  font-size: 1.4rem;
}
%description-16 {
  font-size: 1.6rem;
}
%description-20 {
  font-size: 2rem;
}
%description-24 {
  font-size: 2.4rem;
}
