$color-white-night: rgb(245, 239, 225);
$color-dark-night: rgb(1, 1, 1);

$color-dark-day: rgb(25, 25, 25);
$color-white-day: rgb(245, 239, 225);

$color-grey: rgb(192, 192, 192);

$color-tonys-pink: #e89688;
$color-lochmara: #0277bd;
$color-monte-carlo: #8bd2bd;
$color-goldenrod: #fad374;
$color-biloba-flower: #be88e8;

$font-raleway-300: 'Raleway', sans-serif;
$font-raleway-900: 'Raleway', bold;

$ease-in-out: cubic-bezier(0, 0, 0.975, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ('preloader', 'navigation', 'content', 'scrollbar');
