*,
*:after,
*:before {
  box-sizing: border-box;
}
:root {
  --data-color-primary: #{$color-white-night};
  --data-color-secondary: #{$color-dark-night};
  --data-color-transparent: 1, 1, 1, 0.9;
  --data-color-brightness-on: 1;
  --data-color-brightness-off: 0.8;
  --data-color-link: 196, 113, 237;
}
html {
  @extend %cover;

  font-family: $font-raleway-300;
  font-size: calc(100vw / 1440 * 10);
  line-height: 1;

  color: rgb(var(--data-color-primary));
  background: rgb(var(--data-color-secondary));
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  @include media('<phone') {
    font-size: calc(100vw / 750 * 15);
  }

  @include media('<tablet') {
    overflow: auto;
    overflow-x: hidden;
  }
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

h1,
h2,
h3 {
  font-weight: bold;
}

.content {
  overflow: hidden;
}
