.home__hero {
  z-index: 1;
  height: 100vh;

  display: block;
  position: relative;
  // overflow: hidden;
}
.home__hero__wrapper {
  width: 40%;
  height: inherit;
  z-index: 1;

  left: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  background: rgb(1, 1, 1, 0.25);
  @include media('<phone') {
    width: 100%;
    height: 100%;
    bottom: 0;
    flex-direction: column-reverse;
  }
}

.home__hero__left {
  width: 100%;
  height: 100%;
  position: relative;

  background: rgb(1, 1, 1);
  background: rgb(var(--data-color-transparent));
  backdrop-filter: blur(40px) saturate(1.5);
  -webkit-backdrop-filter: blur(40px) saturate(1.5);

  @include media('<phone') {
    padding: 5rem 0;
  }
}
.home__hero__left__hide {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
  left: 100%;
  width: 64px;
  height: 100%;
  background: linear-gradient(to top, rgba(1, 1, 1, 0.5), transparent);
  cursor: pointer;

  @include media('<phone') {
    height: 64px;
    width: 100%;
    left: 0;
    top: 0;
    transform: translate(0, 0);
    justify-content: center;
    background: linear-gradient(to left, rgba(1, 1, 1, 0.5), transparent);
  }
}
.home__hero__hide__arrow {
  transform: rotate(0deg);
  opacity: 0.75;

  @include media('<phone') {
    transform: rotate(270deg);
  }
}
.home__hero__left__hide:hover {
  background: linear-gradient(to top, rgba(200, 200, 200, 0.13), transparent);
  @include media('<phone') {
    background: linear-gradient(
      to left,
      rgba(200, 200, 200, 0.13),
      transparent
    );
  }
}
.home__hero__left__hide:hover > .home__hero__hide__arrow {
  opacity: 1;
}
.home__hero__hide__container {
}
.home__hero__left__content {
  max-width: 100%;
  height: inherit;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding: 0 10rem;

  @include media('<phone') {
    padding: 0 3rem;
  }
}

.home__hero__title {
  @extend %title-72;

  display: inline-block;
  font-weight: 900;
  background: linear-gradient(
    45deg,
    rgb(0 0 0 / 0.25),
    #c471ed,
    #f7797d,
    rgb(0 0 0 / 0.25)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  padding-bottom: 2.4rem;
}

.home__hero__description {
  @extend %description-12;

  font-weight: 300;
  line-height: 2.2rem;

  &:nth-child(3) {
    padding: 2.4rem 0;
    margin-bottom: 15%;
  }
}

.home__hero__link {
  @extend %description-12;

  font-weight: 300;
  line-height: 2.2rem;
  color: rgb(var(--data-color-link));

  &:hover {
    opacity: 0.75 !important;
  }
}

.home__hero__right {
  @extend %center;

  position: relative;
  width: 100%;
  height: 100%;
  max-width: 70rem;
  padding: 8rem;
}

.home__hero__img {
  width: inherit;
  height: auto;
}

.home__hero__img__title {
  position: absolute;
  bottom: 9.5rem;
  right: 9.5rem;
}

.hero__grid {
  z-index: -1;
  position: relative;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  // transform: translateX(25%);
  // transform-origin: 0 0;

  display: flex;
  flex-direction: column;
  background: $color-dark-night;
  will-change: transform;
  cursor: grab;
  &:focus {
    cursor: grabbing;
  }
}
.hero__grid__wrapper {
  position: relative;
  display: grid;

  width: inherit;
  height: inherit;
  grid-gap: 3rem;
  grid-template-columns: repeat(24, 20rem);
  grid-template-rows: repeat(21, 20rem);

  padding-top: 3rem;
  // animation: heromoves 45s linear infinite;

  filter: brightness(0.75);

  @include media('<phone') {
    flex-direction: column-reverse;
  }
}

.hero__square--s {
  grid-row: span 3;
  grid-column: span 3;
}
.hero__square--m {
  grid-row: span 4;
  grid-column: span 4;
}
.hero__square--l {
  grid-row: span 5;
  grid-column: span 5;
}
.hero__square--xl {
  grid-row: span 6;
  grid-column: span 6;
}
.hero__square--xxl {
  grid-row: span 7;
  grid-column: span 7;
}
.hero__rectangular--s {
  grid-row: span 3;
  grid-column: span 6;
}

.hero__rectangular--m {
  grid-row: span 4;
  grid-column: span 8;
}

.hero__rectangular--l {
  grid-row: span 4;
  grid-column: span 10;
}

.hero__rectangular--xl {
  grid-row: span 6;
  grid-column: span 10;
}

.hero__rectangular--s--90 {
  grid-row: span 6;
  grid-column: span 3;
}

.hero__rectangular--m--90 {
  grid-row: span 8;
  grid-column: span 4;
}

.hero__rectangular--l--90 {
  grid-row: span 10;
  grid-column: span 4;
}

.hero__rectangular--xl--90 {
  grid-row: span 10;
  grid-column: span 6;
}

.hero__tonys-pink {
  background: $color-tonys-pink;
}
.hero__goldenrod {
  background: $color-goldenrod;
}

.hero__biloba-flower {
  background: $color-biloba-flower;
}
.hero__lochmara {
  background: $color-lochmara;
}

.hero__monte-carlo {
  background: $color-monte-carlo;
}

@keyframes heromoves {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.hero__switch__container {
  position: absolute;
  left: 3rem;
  bottom: 3%;
  z-index: 99;
}
.hero__switch {
  -webkit-appearance: none;
  appearance: none;
  width: 60px;
  height: 30px;
  border: 2px #fff solid;
  border-radius: 25px;
  transition: background 0.6s;
  cursor: pointer;
  position: relative;
}

/* Create the toggle */
.hero__switch::after {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 23%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s;
}
/* Change the background when it's checked */
// .hero__switch:checked {
//   background: green;
// }
/* Change position on checked */
.hero__switch:checked::after {
  transform: translate(100%, -50%);
}

.hero__gallery {
  @extend %cover;

  margin: auto;
  visibility: visible;
  will-change: contents;
  cursor: grab;
  width: 2415.8px + calc(14.03 * 5);
  height: 2213.7px + calc(14.03 * 4);

  &:active {
    cursor: grabbing;
  }
}
#hero__avlogo {
  filter: brightness(1);
}
.hero__gallery__media--anim {
  animation: fadeMediaIn 0.5s linear;
}
@keyframes fadeMediaIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hero__gallery__media {
  // will-change: transform;
  position: absolute;
  top: 0;
  left: 0;

  $dif: 645.07px;
  &:nth-child(1) {
    width: 418.3px;
    height: 850.7px;
    transform: translate(0px, 14.1px); // -645.07
  }
  &:nth-child(2) {
    // converse promo
    width: 310.2px;
    height: 310.2px;
    transform: translate(432.33px, 14.1px); // -212.67
    background: #fff;
  }
  &:nth-child(3) {
    // wendel beauty
    width: 634.5px;
    height: 310.2px;
    transform: translate(756.69px, 14.1px);
    background: #fff;
    // 111.625px
  }
  &:nth-child(4) {
    width: 310.2px;
    height: 634.5px;
    transform: translate(1405.29px, 14.1px);
    // 760
  }
  &:nth-child(5) {
    width: 742.6px;
    height: 742.6px;
    transform: translate(1729.59px, 14.1px);
    // 1084
  }
  &:nth-child(6) {
    width: 634.5px;
    height: 310.2px;
    transform: translate(432.42px, 338.4px);
  }
  &:nth-child(7) {
    width: 310.2px;
    height: 310.2px;
    transform: translate(1080.99px, 338.4px);
  }
  &:nth-child(8) {
    width: 850.7px;
    height: 418.3px;
    transform: translate(432.42px, 662.7px);
  }
  &:nth-child(9) {
    width: 418.3px;
    height: 850.7px;
    transform: translate(calc(652.125px + $dif), 662.7px);
  }
  &:nth-child(10) {
    width: 310.2px;
    height: 634.5px;
    transform: translate(calc(1084.52px + $dif), 770.8px);
  }
  &:nth-child(11) {
    // Perfect element for AV logo
    filter: none;
    box-shadow: none;
    width: 418.3px;
    height: 418.3px;
    transform: translate(calc(1408.82px + $dif), 770.8px);
  }
  &:nth-child(12) {
    width: 418.3px;
    height: 634.5px;
    transform: translate(calc(-645.07px + $dif), 878.9px);
  }
  &:nth-child(13) {
    width: 418.3px;
    height: 418.3px;
    transform: translate(calc(-212.67px + $dif), 1095.1px);
  }
  &:nth-child(14) {
    width: 418.3px;
    height: 526.4px;
    transform: translate(calc(219.72px + $dif), 1095.1px);
  }
  &:nth-child(15) {
    width: 418.3px;
    height: 310.2px;
    transform: translate(calc(1408.82px + $dif), 1203.2px);
  }
  &:nth-child(16) {
    width: 310.2px;
    height: 310.2px;
    transform: translate(calc(1084.52px + $dif), 1419.4px);
  }
  &:nth-child(17) {
    width: 310.2px;
    height: 310.2px;
    transform: translate(calc(-645.07px + $dif), 1527.5px);
  }
  &:nth-child(18) {
    width: 526.4px;
    height: 418.3px;
    transform: translate(calc(-320.77px + $dif), 1527.5px);
  }
  &:nth-child(19) {
    width: 418.3px;
    height: 418.3px;
    transform: translate(calc(652.125px + $dif), 1527.5px);
  }
  &:nth-child(20) {
    width: 418.3px;
    height: 418.3px;
    transform: translate(calc(1408.82px + $dif), 1527.5px);
  }
  &:nth-child(21) {
    width: 418.3px;
    height: 418.3px;
    transform: translate(calc(219.72px + $dif), 1635.6px);
  }
  &:nth-child(22) {
    width: 310.2px;
    height: 310.2px;
    transform: translate(calc(1084.52px + $dif), 1743.7px);
  }
  &:nth-child(23) {
    width: 310.2px;
    height: 418.3px;
    transform: translate(calc(-645.07px + $dif), 1851.8px);
  }
  &:nth-child(24) {
    width: 526.4px;
    height: 310.2px;
    transform: translate(calc(-320.77px + $dif), 1959.9px);
  }
  &:nth-child(25) {
    width: 418.3px;
    height: 310.2px;
    transform: translate(calc(652.12px + $dif), 1959.9px);
  }
  &:nth-child(26) {
    // wendel slideshow
    background: #fff;
    width: 418.3px;
    height: 310.2px;
    transform: translate(calc(1408.82px + $dif), 1959.9px);
  }
  &:nth-child(27) {
    width: 418.3px;
    height: 202.1px;
    transform: translate(calc(219.72px + $dif), 2068px);
  }
  &:nth-child(28) {
    width: 310.2px;
    height: 202.1px;
    transform: translate(calc(1084.52px + $dif), 2068px);
  }
  // filter: brightness(var(--data-color-brightness-off));
  // &:hover {
  //   filter: brightness(var(--data-color-brightness-on));
  // }
  border-radius: 12px;
}
.hero__gallery__media__image {
  @extend %cover;

  -webkit-user-drag: none;
  border: none;
  border-radius: inherit;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px;

  opacity: 1;
  width: inherit;
  height: inherit;

  object-fit: cover;
  object-position: center;

  &--contain {
    object-fit: contain;
  }
}
